@charset "UTF-8";
body {
  font-size: 100%;
  font-family: "Times", serif;
  /*
  serif: ひげ付き. 明朝体,Times,Century
  sans-serif: ひげなし. ゴシック体, Helvetica,Arial
  */
  line-height: 125%; /*also 1.5 affect the same. line = line-height - font-size*/
  color: navy; /* #333333 - #rrggbb */
  background: linear-gradient(135deg, #CCFFCC, #669966);
}

#wrap {
  width: auto;
  margin: 0px auto;
}

.homeTitle {
  font-size: 300%;
}

header {
  padding: 2rem;
  margin: 0 auto;
  border: solid 2px black;
  background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#fee140));
  background-image: -webkit-linear-gradient(left, #fa709a 0%, #fee140 100%);
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

nav {
  font-size: 90%;
  width: 10%;
  height: auto;
  margin: 0.5rem 0.25rem 0.5rem 0.125rem;
  float: left;
  background-color: #D9E5FF;
  padding: 0.3125rem;
  border: solid 2px black;
}

nav h2 {
  font-size: 95%;
  display: block;
  padding: 0.3125rem;
  border: 2px solid #000;
  background: #f4f4f4;
}

nav ul[class^="layer_"] {
  list-style-type: none;
  padding-left: 0.5em;
  font-size: 80%;
}

main {
  width: 80%;
  height: auto;
  margin: 0.625rem;
  float: left;
  background-color: #D9E5FF;
  padding: 0.5rem;
  border: solid 2px black;
}

footer {
  clear: both;
}

.clear {
  clear: both;
}

.open {
  display: block;
}

.close {
  display: none;
}


a {
  text-decoration: none;
}

section h2 {
  display: block;
  padding: 0.5rem 0.625rem;
  border-left: 5px solid #000;
  background: #f4f4f4;
}

section h3 {
  display: block;
  padding: 0.4rem 0.3125rem;
  border-left: 2px solid #000;
  background: #f4f4f4;
}

section h4::before {
  content: "\025AA";
}

section .example * {
  padding: initial;
  margin: initial;
  border: initial;
  background: initial;
  background-color: initial;
}

.example {
  display: block;
  width: 90%;
  margin: 0.625rem;
  padding: 0.3125rem;
  border: solid 1px black;
  background-color: #FFFFCC;
  line-height: 1.25rem;
}

.red {
  color: red;
}

.fuchsia {
  color: fuchsia;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

#toc {
  background-color: #FFEEFF;
  margin: 0 0.125rem;
  padding: 0.5rem;
  border: solid 2px black;
}

#comment_section {
  background-color: #EEEEEE;
  border: solid 2px black;
}

.comment_per {
  padding: 0.5rem;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.writer_name {
  padding: 0.2rem;
  font-size: 110%;
  font-weight: bold;
}

.success_msg {
  padding: 0.2rem;
  border: solid 3px #1E90FF;
  color: #1E90FF;
  background-color: white;
}

.error_msg {
  padding: 0.2rem;
  border: solid 2px maroon;
  color: maroon;
  background-color: white;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
}
